* {
 text-rendering: optimizeLegibility;
}

body {
 margin: 0;
 height: 100%;
 background: cross-fade(#484848);
 font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
 height: 200vh;
 background: url(https://images.unsplash.com/photo-1629924005388-a9770989c637?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);
 background-clip: ;
 background-attachment: relative;
 background-size: cover;
}

h1 {
 color: #000;
 font-size: 1.2em;
 font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 800;
 text-shadow: 0px 0px 29px white;
}

h2 {
 font-family: "Muli";
 font-weight: 100;
 font-size: 1em;
 text-shadow: 0px 0px 29px white;
}

h3 {
 position: fixed;
 top: 0em;
 right: 0em;
 font-family: Arial, sans-serif;
 font-size: 1.0em;
 font-weight: 1600;
 background: deeppink;
 margin: auto;
 width: auto;
 padding: 2%;
 align-content: center;
 display: flex;
 aspect-ratio: 1;
 align-items: center;
 text-align: center;
 mix-blend-mode: difference;
 transition: 1s;
 /*transform: translate(-50%);
 -webkit-transform: translate(-50%);
 -moz-transform: translate(-50%);
 -ms-transform: translate(-50%);
 -o-transform: translate(-50%);
 */
 : ;
 -webkit-transition: 1s;
 -moz-transition: 1s;
 -ms-transition: 1s;
 -o-transition: 1s;
}

h3:hover {
 position: fixed;
 top: 0em;
 right: 0em;
 font-size: 2.0em;
 content: gg;
}

h4 {
 /*  top: 0em;
 right: 0em; */
 font-family: Arial, sans-serif;
 font-size: 1.4em;
 font-weight: 1600;
 background: deeppink;
 margin: auto;
 width: auto;
 padding: 0.2em;
 align-content: center;
 display: flex;
 mix-blend-mode: difference;
 transition: 1s;
}

h4:hover {
 background: rgb(182, 27, 110);
}

h5 {
 font-size: 1.8em;
}

h6 {
 font-size: 1.5em;
}

a {
 color: #000000;
}

a:hover {
 color: #8e8e8e;
}

.divider {
 height: 200px;
}

#menu1 {
 display: none;
 transition: 0.4s;
}

#menu1:target {
 display: block;
 position: fixed;
 top: 6em;
 right: 1em;
 margin: auto;
 transition: 0.4s;
 mix-blend-mode: difference;
}

.box1 {
 background-color: rgba(255, 0, 0, 0);
 margin: 0px 0px 0px 0px;
 text-align: right;
 padding: 0px 1em;
 
}

.box1 img {
 margin-top: 6px;
 width: 96px;
 height: 96px;
 border-radius: 3em;
 padding: em;
 -webkit-border-radius: 3em;
 -moz-border-radius: 3em;
 -ms-border-radius: 3em;
 -o-border-radius: 3em;
}

.skal1 {
 margin: auto;
 background-color: rgba(0, 255, 255, 0.137);
 max-width: 480px;
 width: fit-content;
 align-self: center;
 /* height: ; */
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-end;
 align-items: center;
 align-content: flex-end;
 padding: 0px 1em;
 
}

@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {}

@media (min-width: 1000px) {}

@media (min-width: 1200px) {}

 ::-webkit-scrollbar {
 width: 6px;
}

 ::-webkit-scrollbar-track {
 background: #989898;
}

 ::-webkit-scrollbar-thumb {
 background: rgb(191, 191, 191);
}

 ::-webkit-scrollbar-thumb:hover {
 background: rgb(227, 227, 227);
}

* {
 scrollbar-color: #6969dd #e0e0e0;
 scrollbar-width: thin;
}